// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"catCol1": #0094D3,
	"catCol2": #003BD3,
	"catCol3": #005C90,
	"catCol4": #B6BA00,
	"catCol5": #3EC000,
	"catCol6": #00891E,
	"catCol7": #9000D3,
	"catCol8": #D300A5,
	"catCol9": #D30000,
	"catCol10": #D37F00,
	"catCol11": #00D3AD,
	"catCol12": #626262,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$primary: #F24822;
$secondary: #000000;
$light: #FAFAFA;
$dark: #383838;
$font-size-base: 14pt;
$h1-font-size: 26pt;
$h2-font-size: 18pt;
$h3-font-size: 16pt;

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Rajdhani, sans-serif; /* Change font family if desired */
	letter-spacing: 0.5pt;
}
.side {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('img/BG1 1.png'); /* Replace 'your-image.jpg' with the path to your image */
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo {
	width: 150px; /* Adjust width as needed */
	height: auto; /* Maintain aspect ratio */
	margin-bottom: 20px; /* Adjust spacing as needed */
}
.text {
	text-align: center;
	margin-bottom: 20px; /* Adjust spacing as needed */
	color: white; /* Text color */
}
.button {
	padding: 10px 20px;
	background-color: #007bff; /* Button background color */
	color: white; /* Button text color */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.button:hover {
	background-color: #0056b3; /* Button background color on hover */
}

.bookmark {
	height: 224px;
}