// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

$primary:#F24822;

$secondary:#000000;

$dark:#383838;



// 5. Du kan lave styling her...

.Logo{
	margin: auto;
	vertical-align: middle;
}

.bgimg{
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url("img/BG1 1.png") ;
	background-position:center;
}