// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"primary": #F24822,
	"secondary": #000000,
	"light": #FAFAFA,
	"dark": #383838,
	"catCol1": #0094D3,
	"catCol2": #003BD3,
	"catCol3": #005C90,
	"catCol4": #B6BA00,
	"catCol5": #3EC000,
	"catCol6": #00891E,
	"catCol7": #9000D3,
	"catCol8": #D300A5,
	"catCol9": #D30000,
	"catCol10": #D37F00,
	"catCol11": #00D3AD,
	"catCol12": #626262,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$primary: #F24822;
$secondary: #000000;
$light: #FAFAFA;
$dark: #383838;
$link-color: $primary;
$link-shade-percentage: 50%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$font-size-base: 14pt;
$h1-font-size: 26pt;
$h2-font-size: 18pt;
$h3-font-size: 16pt;

$font-sizes: (
	1: $h1-font-size,
	2: $h2-font-size,
	3: $h3-font-size,
);

$position-values: (
	0: 0,
	20: 20%,
	50: 50%,
	100: 100%
);

$utilities: (
	"opacity": (
		property: opacity,
		values: (
			0: 0,
			15: .15,
			25: .25,
			50: .5,
			75: .75,
			100: 1,
		)
	),

	"bg-opacity": (
		css-var: true,
		class: bg-opacity,
		values: (
			10: .1,
			25: .25,
			50: .5,
			75: .75,
			85: .85,
			90: .90,
			100: 1
		)
	),
);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("../img/bg1.webp");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $dark;
	font-family: Rajdhani, sans-serif; /* Change font family if desired */
	font-size: 14pt;
	letter-spacing: 0.5pt;
}

a {
	font-weight: 500;
}

.overlay {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.on-index {
	height: 100%;
}

.logo {
	width: 230px;
	height: auto;
}

.bookmark {
	height: 224px;
}

.menu-circle {
	width: 90px;
	height: 90px;

	.icon {
		font-size: 26pt;
	}
}

.produkt-box {
	height: 510px;
}

.backgrounds-container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1; // skal være -5 fx

}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s ease-in-out;

}

.showing{
	opacity: 1;

}